// This is a template config file

// for a given pixel, if the horizontal weight * black horizontal segment length  + vertical weight * black vertical segment length > threshold
// then this pixel is a border pixel
border_removal_horizontal_segment_weight             0.3
border_removal_vertial_segment_weight                1.0
border_removal_segment_sum_threshold                 0.05 // unit image height
charH_convergence_diff                               0.05 // if (currentCharH - lastCharH) / lastCharH < this value, then break the loop, and set charH to currentCharH
charH_cutoff_ratio                                   1.8  // recalcluate charH only use components that have height < this value * lastCharH
blur_width                                           8    // unit charH
blur_height                                          0.8  // unit charH
first_order_partial_derivative_of_y_window_height    2    // unit charH
second_order_partial_derivative_of_y_window_height   1    // unit charH
space_tracing_seeds_distance                         0.5  // unit charH, distance between adjacent seeds
region_area_min                                      1    // unit charH*charH
region_black_pixel_percentage_min                    0.01 // out of 1
region_black_pixel_percentage_max                    0.50 // out of 1
text_tracing_seeds_distance                          0.5  // unit charH, distance between adjacent seeds
word_center_strap_width                              0.33 // unit charH, only consider components intersects with the center strap of each line
word_width_min                                       0.2  // unit charH
word_height_min                                      0.2  // unit charH
word_gap_threshold                                   0.6  // unit charH
word_alpha                                           1.5  // alpha*intra-word-gap < min(leftGap, rightGap)
